.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  p {
    font-size: 30px;
    font-family: Comfortaa, cursive;
    text-align: center;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      font-size: px2rem(20px);
    }
  }

  .not-found-text {
    font-weight: 500;
    font-size: 56px;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      font-size: px2rem(30px);
    }
  }

  .not-found-tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .not-found-tips-body {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .not-found-arm {
    align-self: flex-end;
    width: 50px;
    height: 90px;
    border-top: 3px solid;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      width: 25px;
      height: 50px;
    }
  }

  .not-found-left-arm {
    border-right: 3px solid;
    transform: skew(20deg);
  }

  .not-found-right-arm {
    border-left: 3px solid;
    transform: skew(-20deg);
  }

  .not-found-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin-right: 25px;
    margin-left: 25px;
    border: 3px solid;
    border-radius: 20px;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      width: 180px;
      height: 120px;
      margin-right: 15px;
      margin-left: 15px;
      border-radius: 15px;
    }
  }

  .not-found-upper-face {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    letter-spacing: 80px;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      margin-left: 36px;
      letter-spacing: 36px;
    }
  }

  .not-found-element {
    font-size: 40px;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      font-size: px2rem(30px);
    }
  }

  .not-found-mouth {
    width: 20px;
    height: 10px;
    margin-top: 20px;
    border: 3px solid;
    border-bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    // [mobile portrait -]: Larger hero headline
    @include break-to-device(mobile portrait) {
      width: 16px;
      height: 8px;
      margin-top: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}
